ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contactList {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  width: 300px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  width: 120px;
  height: 30px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactIcon {
  margin-right: 8px;
}
